h1 { color: rgb(128, 0, 64); font-size: 36px;}
h2 { color: rgb(238, 47, 255); font-size: 28px;}
h3 { color: rgb(201, 16, 247); font-size: 22px;}
p { color: rgb(54, 54, 54); font-size: 16px;}
link, blockquote { color: rgb(226, 142, 142)}


[class~="olen"] {color: red;}

.olen { color: red; }

#olen { color: purple} 